<h3>{{nombre}}</h3>
<strong>Empleado estrella: </strong>
<br/>
<br/>
<div *ngIf="trabajador_externo">
  <button (click)="cambiarExterno(false)">Mostrar trabajador</button>
  <ul>
    <li>{{empleado.nombre}}</li>
    <li>{{empleado.edad}}</li>
    <li>{{empleado.cargo}}</li>
    <li *ngIf="empleado.contratado">Está contratado</li>
    <li *ngIf="!empleado.contratado">No está contratado</li>
  </ul>
</div>

<div *ngIf="!trabajador_externo">
  <button (click)="cambiarExterno(true)">Mostrar Empleado</button>
  <ul>
    <li>{{trabajadores[0].nombre}}</li>
    <li>{{trabajadores[0].edad}}</li>
    <li>{{trabajadores[0].cargo}}</li>
    <li *ngIf="trabajadores[0].contratado">Está contratado</li>
    <li *ngIf="!trabajadores[0].contratado">No está contratado</li>
  </ul>
</div>

<hr>

<h3>Listado de empleados</h3>
<ul>
  <li *ngFor="let empleado of trabajadores; let i = index">
    <strong>Empleado {{i + 1}}:</strong>
    <ul>
      <li>{{empleado.nombre}}</li>
      <li>{{empleado.edad}}</li>
      <li>{{empleado.cargo}}</li>
      <li *ngIf="empleado.contratado">Está contratado</li>
      <li *ngIf="!empleado.contratado">No está contratado</li>
    </ul>
  </li>
</ul>

<hr>

<h3>Colores Switch</h3>
<ul [ngSwitch]="color" [ngStyle]="{'color': color}">
  <li *ngSwitchCase="'red'">Es de color rojo</li>
  <li *ngSwitchCase="'blue'">Es de color azul</li>
  <li *ngSwitchCase="'green'">Es de color verde</li>
</ul>
